auto-install-peers = true
package-manager-strict = false
package-manager-strict-version=true  # ensure the exact package manager version is installed
manage-package-manager-versions=true # auto-install the correct package manager version (: