# These CODEOWNERS are responsible for the oversight, maintenance, and execution of the policies outlines in MANIFEST0.
# Questions re: policy decisions and process improvements can be forwarded to the personnel below.

ibrahims@tilli.pro @GeorgeIpsum
michaelv@tilli.pro @vuolo


